<div data-hook="admin_shipping_box_form_header">
  <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @shipping_box } %>
</div>

<div data-hook="admin_shipping_box_form">
  <%= form_for([:admin, @shipping_box]) do |f| %>
    <div data-hook="admin_shipping_box_form_fields" class="row">
      <div class="col-md-6">
        <div class="form-group field">
          <%= f.label :name, "Nome" %>
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.error_message_on :name %>
        </div>
        <div class="form-group field">
          <%= f.label :quantity, "Quantidade de itens" %>
          <%= f.number_field :quantity, class: 'form-control' %>
          <%= f.error_message_on :quantity %>
        </div>
        <div class="form-group field">
          <%= f.label :enabled do %>
            <%= f.check_box :enabled %>
            <%= t('shipping_boxes.active') %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group field">
          <%= f.label :height, "Altura (cm)" %>
          <%= f.text_field :height, class: 'form-control' %>
        </div>
        <div class="form-group field">
          <%= f.label :width, "Largura (cm)" %>
          <%= f.text_field :width, class: 'form-control' %>
        </div>
        <div class="form-group field">
          <%= f.label :length, "Comprimento (cm)" %>
          <%= f.text_field :length, class: 'form-control' %>
        </div>
        <div class="form-group field">
          <%= f.label :weight, "Peso (g)" %>
          <%= f.text_field :weight, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div data-hook="admin_shipping_box_form_buttons">
      <% if @shipping_box.id.nil? %>
        <%= render partial: 'spree/admin/shared/new_resource_links' %>
      <% else %>
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      <% end %>
    </div>
  <% end %>
</div>
